body{
  background-color: beige;
}

.App {
  text-align: center;
}

.red{
  background-color: red;
  color: white;
}

.purple{
  background-color: purple;
  color: white;
}

.yellow{
  background-color: yellow;
  color: white;
}

.cyan{
  background-color:cyan;
  color: white;
}